<% if can? :create, Group %>
  <%= link_to new_group_path, class: 'btn btn-info float-right' do %>
    <i class="fa fa-plus"></i> Create a New Group
  <% end %>
<% end %>
<h2>My Groups</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @groups %>
  </tbody>
</table>
