<% if can? :manage, @group %>
  <%= link_to edit_group_path(@group), class: 'btn btn-secondary float-md-right' do %>
    <i class="fa fa-cog" aria-hidden="true"></i> Edit
  <% end %>
<% end %>
<h2><%= @group.name %></h2>
<hr>
<p><%= simple_format @group.description %></p>
