<span class="mx-auto d-block fa-stack fa-5x text-center hidden-sm-down">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-graduation-cap fa-stack-1x"></i>
</span>
<h1 class="display-4 text-center">Testing Simplified</h1>
<h2 class="text-muted text-center hidden-md-down">Experience easier exams coupled with the tools needed to succeed.</h2>
<h3 class="mt-3">Taking the chore out of testing</h4>
<p>In this current age of education, core curriculums are oriented around the continuous evaluation of students. For teachers and students alike, this means that classes are broken up by regular intervals of assessments on the given subject. Depending on the test, this might need different types of questions, versions, and the necessary time to grade accurately. Testing should not be a massive undertaking, and should be simplified to improve quality of life for teachers and students.</p>
<div class="row">
  <div class="col-md-4 col-xs-12 text-center">
    <span class="d-block mx-auto fa-5x">
      <i class="fa fa-pencil-square-o"></i>
    </span>
    <h4>Customizable</h4>
    <hr class="mx-3">
    <p>Built for most testing situations.</p>
  </div>
  <div class="col-md-4 col-xs-12 text-center">
    <span class="d-block mx-auto fa-5x">
      <i class="fa fa-book"></i>
    </span>
    <h4>Intuitive</h4>
    <hr class="mx-3">
    <p>Easy to navigate and use.</p>
  </div>
  <div class="col-md-4 col-xs-12 text-center">
    <span class="d-block mx-auto fa-5x">
      <i class="fa fa-thumbs-up"></i>
    </span>
    <h4>Appealing</h4>
    <hr class="mx-3">
    <p>Remove the hair pulling factor from testing.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <h3 class="mt-3">Web and Client</h3>
    <p>Testor splits its system into a website and a client. The web is used by the teacher to add tests and other media while the desktop client is used by the student to take the assigned tests and complete activities.</p>
  </div>
  <div class="col-md-6 col-xs-12">

  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xs-12">

  </div>
  <div class="col-md-6 col-xs-12">
    <h3 class="mt-3">Prepare Students</h3>
    <p>For in-class activities, Testor allows for teachers to create practice tests and games to aid students in understanding material.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <h3 class="mt-3">Automated Grading</h3>
    <p>When a student completes his or her test, Testor will automatically score questions that have a predetermined solution. Teachers will still have to grade answers with varying responses such as essay questions.</p>
  </div>
  <div class="col-md-6 col-xs-12">

  </div>
</div>
