<div class="card my-3">
  <div class="card-header">
    <%= question.question_type.humanize %>
  </div>
  <div class="card-block">
    <blockquote class="blockquote" name="question-text">
      <%= question.text %>
    </blockquote>
    <% if question.multiple_choice? %>
      <h4>Options</h4>
      <ul>
        <% if !question.multiple_choice_options.empty? %>
          <% question.multiple_choice_options.each do |option| %>
            <li class="<%= option.correct ? 'text-success' : '' %>">
              <%= option.text %>
            </li>
          <% end %>
        <% else %>
          No options for this question
        <% end %>
      </ul>
    <% end %>
    <p class="card-text"></p>
  </div>
</div>
