<% if can? :manage, @test %>
  <%= link_to edit_test_path(@test), class: 'btn btn-secondary float-md-right' do %>
    <i class="fa fa-cog" aria-hidden="true"></i> Edit
  <% end %>
<% end %>
<h2><%= @test.name %></h2>
<%= render partial: 'question', collection: @test.questions, as: :question or 'No questions have been created for this test' %>
<%= link_to 'Modify Questions', test_questions_path(@test), class: 'btn btn-lg btn-primary btn-block' %>
