<div style="margin: 1em 1em 1em 1em;">
  <h3 id="navbar_add_group_title">Add Group</h3>

  <%= form_tag({controller: 'members', action: 'join_group'}, method: 'post', remote: true, id: 'navbar_add_group') do %>
    <fieldset class="form-group">
      <%= label_tag :token, 'Token', class: 'form-control-label' %>
      <%= text_field_tag :token, '', class: 'form-control', placeholder: 'Token' %>
    </fieldset>

    <%= submit_tag 'Add Group', class: "btn btn-primary btn-block" %>
  <% end %>
</div>
